<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
       <div class="nabar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
             {{#if @blog.logo}}<a class="navbar-brand" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
       </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{#foreach navigation}}
                    <li class="{{#if current}}active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
                {{/foreach}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="" href="{{@blog.url}}/rss/">Subscribe</a></li>
            </ul>
       </div>
    </div>
</nav>

